.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__content {
  background-color: #fff;
  position: relative;
  padding: 28px 28px 36px;
  border-radius: 20px;
  width: 496px;
  height: auto;
}

.modal__title {
  margin: 0;
  font-size: 16px;
}

.modal__label {
  margin: 24px 0 0;
  font-size: 16px;
  font-family: "Cabinet Grotesk";
  line-height: 20px;
  font-weight: 700;
}

.modal__close-btn {
  position: absolute;
  top: 20px;
  right: 28px;
  width: 20px;
  height: 20px;
  padding: 0;
  background: url("../../images/close.svg") no-repeat center center;
  border-style: none;
}

.modal__btn_options {
  display: flex;
  align-items: baseline;
  gap: 12px;
}

.modal__submit-btn {
  margin: 32px 0 0;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #0000004d;
  color: #fff;
  border-style: none;
  cursor: pointer;
}

.modal__alt-btn {
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal__submit-btn:hover {
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.modal__close-btn:hover {
  cursor: pointer;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__radio-title {
  padding: 24px 0 12px;
  margin: 0;
}

.modal__fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal__label_type_radio {
  color: rgba(0, 0, 0, 0.5);
  margin: 0;
}

label:has(input[type="radio"]:checked) {
  color: #000;
}

.modal__radio-input {
  margin-right: 8px;
}

.modal__input {
  display: block;
  border: none;
  padding: 0;
  margin-top: 8px;
  border-bottom: 1px solid #000;
  color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 24px;
  font-family: "Cabinet Grotesk";
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}
