.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
}

.header__date-and-location {
  margin: 0;
  line-height: 1.5;
}

.header__add-clothes-btn {
  width: 116px;
  height: 24px;
  margin: 0 20px 0;
  border-style: none;
  padding: 0;
  line-height: 1.5;
  background-color: transparent;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
}

.header__add-clothes-btn:hover {
  cursor: pointer;
}

.header__logo {
  margin-right: 24px;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__link {
  text-decoration: none;
}

.header__username {
  height: 25px;
  margin: 0;
  line-height: 1;
  color: #000;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 20px;
  position: relative;
  top: 3px;
}

.header__avatar {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  object-fit: cover;
}

.header__register-btn {
  width: 67px;
  height: 24px;
  margin: 0 20px 0;
  border-style: none;
  padding: 0;
  line-height: 1.5;
  background-color: transparent;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  cursor: pointer;
}

.header__login-btn {
  width: 52px;
  height: 24px;
  margin: 0;
  border-style: none;
  padding: 0;
  line-height: 1.5;
  background-color: transparent;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  cursor: pointer;
}
